// *=====================================VARIABLES=================================
////////////////////////////////
$white: #ffffff;
$light-grey: #f5f6fa;
$dark-grey: #505050;
$medium-grey: #bebebe;
$grey: #898989;
$red: #ed756b;

// *=====================================MIXINS====================================
////////////////////////////////
@mixin company-registration-inner-styles {
  height: fit-content;
  width: 100%;
  background-color: $light-grey;
  padding: 10rem 0rem;
}

@mixin form-container-styles {
  height: fit-content;
  background-color: $white;
  width: 80%;
  filter: drop-shadow(0px 0px 3px $medium-grey);
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaced {
  display: flex;
  justify-content: space-between;
}

// *=====================================NESTINGS====================================
////////////////////////////////////

// *=====================================MAIN-CONTAINER==============================
.company_registration {
  .company_registration_inner {
    @include company-registration-inner-styles;
    @include flex-centered;
    @include flex-column;
  }
}

// *=====================================FORM-CONTAINER================================
////////////////////////////////////
.form-container {
  @include form-container-styles;
  border-radius: 5px;
  .form-inner {
    width: 100%;
  }
}

.form-logo {
  width: 33%;
  margin: -5rem 0rem 5.5rem 0rem;
  @include flex-centered;

  img {
    width: 35%;
  }
}

// *=====================================FORM-INNER====================================
/////////////////////////////////////
.form-inner {
  padding: 2rem 0rem 3rem 0rem;
  .heading {
    width: 100%;
    text-align: left;
    padding: 0rem 0rem 2rem 7.5rem;

    h3 {
      color: $dark-grey;
      letter-spacing: 0.03rem;
      text-transform: capitalize;
    }
  }
}

// *===============================================FEILDS===========================================
//////////////////////////////
.fields {
  width: 100%;

  .field {
    width: 100%;
    @include flex-column;

    .field-inner {
      width: 100%;
      @include flex-centered;
      .field-inner-contents {
        width: 80%;
        @include flex-spaced;
        .lside,
        .rside {
          width: 47%;
        }
        label {
          margin: 0.5rem 0rem;
          width: 100%;
          color: $dark-grey;
          font-weight: bold;
        }
      }
    }

    input {
      height: 5.5vh;
      padding: 1rem;
      outline: none;

      &::placeholder {
        color: $grey;
      }
    }
  }
}

// *==========================================BUTTON-CONTAINER=======================================
/////////////////////////////////
.btn-container {
  @include flex-centered;

  .btn-inner {
    width: 80%;

    button {
      margin-top: 1rem;
    }
  }
}

// *===========================================ERROR MESSAGE=========================================
/////////////////////////////////
.field-inner {
  span {
    display: inline-block;
    margin-bottom: 1.3rem;
    margin-top: 0%;
    width: auto;
    color: $red;
    border-radius: 40px 0px 50px 40px;
    font-size: 1rem;
    text-transform: capitalize;
    font-style: italic;
  }
}

// *===========================================MEDIA-QUERIES=========================================
/////////////////////////////////
// *===========================================MOBILE-DEVICES========================================
/////////////////////////////////
@media (300px <= width <= 480px) {
  .company_registration {
    overflow-x: hidden;
  }

  .company_registration_inner {
    padding: 5rem 0rem !important;
  }

  .field-inner-contents {
    display: unset !important;

    .lside,
    .rside {
      width: 100% !important;
    }
  }

  .form-logo {
    width: auto !important;
    margin: -2rem 0rem 3rem 0rem;

    img {
      width: 50%;
    }
  }

  .form-container {
    width: 80%;
  }

  .heading {
    padding: 0rem 0rem 1.3rem 1.5rem !important;
  }
}

// *============================================TABLET-DEVICES=====================================
/////////////////////////////////
@media (481px<= width <= 768px) {
  .company_registration_inner {
    padding: 5rem 0rem !important;
  }

  .form-logo {
    width: auto !important;
    margin: -2rem 0rem 3rem 0rem;

    img {
      width: 70%;
    }
  }

  .field-inner-contents {
    display: unset !important;

    .lside,
    .rside {
      width: 100% !important;
    }
  }

  .form-logo {
    width: auto !important;
    margin: -2rem 0rem 3rem 0rem;

    img {
      width: 50%;
    }
  }

  .form-container {
    width: 85%;
  }

  .heading {
    padding: 0rem 0rem 1.3rem 2.5rem !important;
  }
}

// *=============================================LAPTOPS============================================
//////////////////////////////////
@media (769px <= width <= 1024px) {
  .company_registration_inner {
    padding: 5rem 0rem !important;
  }

  .form-logo {
    width: auto !important;
    margin: -2rem 0rem 3rem 0rem;

    img {
      width: 65%;
    }
  }

  .form-container {
    width: 70%;
  }

  .heading {
    padding: 0rem 0rem 1.3rem 3.4rem !important;
  }
}

// *==============================================DESKTOPS===========================================
///////////////////////////////////
@media (1025px <= width <= 1200px) {
  .company_registration_inner {
    padding: 5rem 0rem !important;
  }

  .form-logo {
    width: auto !important;
    margin: -2rem 0rem 3rem 0rem;

    img {
      width: 70%;
    }
  }

  .form-container {
    width: 60%;
  }

  .heading {
    padding: 0rem 0rem 1.3rem 4.3rem !important;
  }
}

// *==============================================LARGE SCREENS======================================
///////////////////////////////////
@media (1201px <= width <= 3000px) {
  .company_registration_inner {
    padding: 5rem 0rem !important;
  }

  .form-logo {
    width: auto !important;
    margin: -2rem 0rem 3rem 0rem;

    img {
      width: 70%;
    }
  }
}
